/* Navbar */
.navbar {
  background-color: #2a5298;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 28px;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Posisi Konten */
.content {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Reset dan Font */
body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Header */
h1 {
  background: #1e3c72;
  color: white;
  padding: 22px;
  margin: 0;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  border-bottom: 5px solid #162a4f;
}

/* Form Upload */
form {
  background: white;
  padding: 35px;
  margin: 30px auto;
  max-width: 500px;
  border-radius: 14px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

input[type="file"] {
  width: 90%;
  padding: 12px;
  margin: 15px 0;
  border: 2px solid #1e3c72;
  border-radius: 6px;
  font-size: 16px;
}

/* Tombol Upload */
button {
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: white;
  border: none;
  padding: 15px 22px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: linear-gradient(135deg, #2a5298, #1e3c72);
  transform: scale(1.05);
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.3);
}

/* Tabel Hasil */
.table-container {
  width: 95%;
  max-width: 900px;
  margin: 40px auto;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

th,
td {
  padding: 18px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 18px;
}

th {
  background: #1e3c72;
  color: white;
}

tr:nth-child(even) {
  background: #e3f2fd;
}

tr:hover {
  background: #bbdefb;
  transition: background 0.3s ease-in-out;
}

/* Grafik Training */
.chart-container {
  margin: 50px auto;
  max-width: 920px;
  padding: 28px;
  background: white;
  border-radius: 18px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.chart-container img {
  width: 100%;
  border-radius: 16px;
  transition: transform 0.3s ease-in-out;
}

.chart-container img:hover {
  transform: scale(1.05);
}

/* Responsive */
@media (max-width: 768px) {
  th,
  td {
    font-size: 16px;
    padding: 14px;
  }

  .chart-container,
  .table-container {
    max-width: 100%;
    padding: 20px;
  }
}
